<!DOCTYPE html>
<html>
<head>
	<title>Lab3</title>
</head>
<body>
    <a href="/">Повернутися</a>
    <form method="GET" action="/select" style="padding: 10px 0 0 0">
      <label for="subject-select">Предмет:</label>
      <select id="subject-select" name="subject">
        {% for sub in subjects %}
        <option value={{sub}} {% if selected_subject == sub %}selected{% endif %}>{{sub}}</option>
        {% endfor %}
      </select>

      <label for="region-select">Регіон:</label>
      <select id="region-select" name="region">
        {% for reg in regs %}
        <option value={{reg}} {% if selected_region == reg %}selected{% endif %}>{{reg}}</option>
        {% endfor %}
      </select>

      <label for="func-select">Функція:</label>
      <select id="func-select" name="func">
        {% for func in funcs %}
        <option value={{func}} {% if selected_func == func %}selected{% endif %}>{{func}}</option>
        {% endfor %}
      </select>

      <button type="submit">ОК</button>
    </form>
    <br/>
    <label>Результат:</label>
    <label>{{data}}</label>
</body>
</html>
